body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#blue_accent_box{
    
    background-color: rgba(135, 198, 223, 0.75);
}

#black_box{   
    background-color: black;
    color: white;
}

.txt_bold{
    font-size: 20px;
    font-weight: bold;
}